h1,
p {
  font-family: Lato;
}
.serachInput,
.searchContainer {
  width: 300px;
}

.searchContainer {
  max-height: 300px;
  overflow: auto;
  border: 1px solid #e5e5e5;
}
.record {
  padding: 5px;
}

.record:hover,
.record.active {
  background-color: #c9c9c9;
}
